<div class="background fixed" id="landing_background">
  <div class="container flex main">
    <div class="landing_action flex">
      <div class="center">
        <h1 class="block top_bottom">
          Adopt-a-Block
        </h1>
        <h4 class="block">
          San Francisco
        </h4>

        <h3 class="block top_bottom">
          <p>Teams of businesses and citizens making the city a better place to live</p>
          <p>Find your block, join the team, start contributing</p>
        </h3>
        <%= link_to 'Find My Block', '/block', class: "btn btn-default" %>
        </from>
      </div>
    </div>
  </div>
<div class="background">
